[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pqantimalarials"]
	path = pqantimalarials
	url = https://github.com/cran/pqantimalarials
	shallow = true
	registered = true
